body {
background: linear-gradient(135deg,black,red);}
h1 {font-size:24pt;color:#ffffff;}
h2 {font-size:18pt; color:#ffffff;}
p {font-size:12pt; color:#ffffff;}
li {font-size:12pt; color:#ffffff;}
a {font-size:12pt; color:#ffffff;}